//Global vars
$sunburst-color1: darkorange;
$sunburst-color2: orange;
$text-color-primary: black;
$button-color-primary: #622424;
$button-color-primary-active: darken($button-color-primary, 2.5%);
$form-el-color-shadow: rgba(0, 0, 0, .5);

$title-margin-bottom: 1em;


@function do-background($color1, $color2, $deg) {
  $i: 180 - $deg;
  $bg: "";
  $current-color: $color1;

  @while $i >= 0 {
    $bg: $bg + 'linear-gradient(#{$i}deg, transparent 50%, #{$current-color} 50%, #{$current-color} 100%), ';
    $i:$i - $deg;

    $current-color : if($current-color == $color1, $color2, $color1);
  }

  $punultimate-idx: str_length($bg) - 2;

  @return unquote(str_slice($bg, 0, $punultimate-idx));
}


@mixin copy-type {
  font-family: 'Montserrat', sans-serif;
}

@mixin title-type {
  font-family: 'Fugaz One', cursive;
  color: $text-color-primary;
}

@mixin full-screen {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

html {
  @include copy-type;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pad-0 {
  padding: 0;
}

h1, h2, h3 {
  @include title-type;
}

.button, .input {
  box-shadow: $form-el-color-shadow 0 2pt 2pt;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button.is-primary {
  background-color: $button-color-primary;

  &:hover,
  &:active {
    background-color: $button-color-primary-active;
  }
}

.sunburst.outer {
  @include full-screen;

  .inner {
    animation: spin 45s linear infinite paused;
    height: 300%;
    left: 50%;
    position: absolute;
    top: 44%;
    transform: translate(-50%, -50%);
    width: 300%;

    &.animated {
      animation-play-state: running;
    }

    .gradient-wrap {
      height: 50%;
      overflow: hidden;
      width: 100%;

      &:last-child {
        transform: rotate(180deg);
      }
    }

    .gradient {
      background: do-background($sunburst-color1, $sunburst-color2, 10);
      height: 200%;
      width: 100%;
    }
  }
}

.starburst {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  ::before,
  ::after {
    background: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  ::before {
    transform: rotate(30deg);
  }

  ::after {
    transform: rotate(-30deg);
  }
}

.section .step {
  @include full-screen;

  h1 {
    font-size: 13.333vw;
    text-align: center;
    position: absolute;
    bottom: $title-margin-bottom;
    width: 100%;
    text-shadow: white 0 2pt 2pt;
  }

  @keyframes animBottleShake0 {
    0% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(15deg);
    }
  }

  @keyframes animBottleShake1 {
    0% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-15deg);
    }
  }

  @keyframes animBottleScaleUp {
    100% {
      transform: scale(1.25);
    }
  }

  .bottle {
    height: 100vw;
    max-width: none;
    position: absolute;
    top: 12.5vw; //25vw;
    left: -15vw;

    &.rotated-0 {
      transform: rotate(-15deg);
    }
    &.rotated-1 {
      transform: rotate(15deg);
    }

    @mixin anim-props($anim, $direction, $count: 1, $duration: .25s) {
      animation: $anim $direction $duration;
      animation-iteration-count: $count;
    }

    @mixin shake-props($anim) {
      @include anim-props($anim, alternate, 4, .25s);
    }

    &.shake-0 {
      @include shake-props(animBottleShake0)
    }
    &.shake-1 {
      @include shake-props(animBottleShake1)
      }
    &.scale-0 {
      @include anim-props(animBottleScaleUp, alternate, 2)
    }

  }

  form {
    align-items: center;
    display: flex;
    justify-content: center;

    .formfield {
      width: 90vw;
      position: absolute;
      bottom: 1em;

      .input.is-fullwidth {
        position: relative;
        top: -.5em;
      }
    }
  }

}

#ad-steps {
  position: initial;
}


@keyframes animFlipTitle {
  0% {
    transform: rotateX(90deg);
    bottom: 0;
  }
  100% {
    transform: rotateX(0deg);
    bottom: $title-margin-bottom;
  }
}

@keyframes animExitTitleToBottom {
  100% {
    bottom: -1.5em;
  }
}

@keyframes animExitBottleToTop {
  100% {
    top: -95vw;
  }
}

#thank-you {
  h1 {
    animation: running animFlipTitle ease-in-out .5s;
  }

  &.pre-anim {
    animation-play-state: paused;
    transform: rotateX(90deg);
  }

  &.hide {
    h1 {
      animation: forwards ease-in-out animExitTitleToBottom .25s;
    }

    .bottle {
      animation: forwards ease-in-out animExitBottleToTop .5s;
    }
  }
}

#sign-up {
  h1 {
    bottom: 2.5em;
  }
}