<head>
    <title><%= title + " head" %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="/scss/custom.css" />
</head>