<div id="bg-sunburst" class="sunburst<%- include('./fragments/class-adder'); %>">
    <div class="inner">
        <div class="gradient-wrap">
            <div class="gradient"></div>
        </div>
        <div class="gradient-wrap">
            <div class="gradient"></div>
        </div>
    </div>
</div>