<section id="ar-game" data-order="<%= order %>" class="step landscape<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <div id="portrait-message" class="container modal modal-background is-hidden">
        <div class="modal-content">
            <h1 class="is-small is-white">Please rotate your phone to landcape orientation</h1>
        </div>
    </div>
    <%# a-scene embedded artoolkit='sourceType: webcam;'%>
    <a-scene embedded arjs='sourceType: webcam;'>
        <%#a-assets>
            <a-asset-item id="bottle-normal-obj" src="/other/bottle-normal.obj"></a-asset-item>
            <a-asset-item id="bottle-normal-mtl" src="/other/bottle-normal.mtl"></a-asset-item>
        </a-assets>

        <a-obj-model src="#bottle-normal-obj" mtl="#bottle-normal-mtl" position='0 0 0.5'></a-obj-model%>
        <%#a-marker-camera preset='hiro'></a-marker-camera%>
        <a-marker preset=’hiro’>
            <!-- Adding an OBJ file to an AR Project-->
            <%#a-obj-model src="#bottle-normal-obj" mtl="#bottle-normal-mtl" position='0 0 0.5'></a-obj-model%>
            <a-box position='0 0 0.5' material='opacity: 0.5;'></a-box>
        </a-marker>
        <a-entity camera>
        </a-entity>
    </a-scene>
</section>