<section id="ar-game" data-order="<%= order %>" class="step landscape<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <div id="portrait-message" class="container modal modal-background is-hidden">
        <div class="modal-content">
            <h1 class="is-small is-white">Please rotate your phone to landcape orientation</h1>
        </div>
    </div>
    <a-scene arjs="sourceType: webcam; debugUIEnabled: false;" vr-mode-ui="enabled: false">
        <a-assets>
            <a-asset-item id="bottle-normal-mtl" src="/other/bottle-normal_scaled.mtl"></a-asset-item>
            <a-asset-item id="bottle-normal-obj" src="/other/bottle-normal_scaled.obj"></a-asset-item>
            <a-asset-item id="bottle-med-obj" src="/other/bottle-med_scaled.obj"></a-asset-item>
            <a-asset-item id="bottle-low-obj" src="/other/bottle-low_scaled.obj"></a-asset-item>
            <%#the obj format looks a little better# a-asset-item id="bottle-normal-gltf" src="/other/bottle-normal_scaled.gltf"%>
        </a-assets>
        <a-obj-model class="bottle" id="bottle-low" src="#bottle-low-obj" mtl="#bottle-normal-mtl" position="-.75 0 1" rotation="-90 0 0"></a-obj-model>
        <a-obj-model class="bottle" id="bottle-med" src="#bottle-med-obj" mtl="#bottle-normal-mtl" position="0 0 1" rotation="-90 0 0"></a-obj-model>
        <a-obj-model class="bottle" id="bottle-normal" src="#bottle-normal-obj" mtl="#bottle-normal-mtl" position=".75 0 1" rotation="-90 0 0"></a-obj-model>
        <a-box position='0 0 0.5' material='opacity: 0.5;'></a-box>
        <%#the obj format looks a little better# a-gltf-model src="#bottle-normal-gltf" position="0 0 1" rotation="-90 0 0"></a-gltf-model%>
        <a-marker-camera preset='custom' type='pattern' url='/other/fave-pattern-marker.patt'></a-marker-camera>
    </a-scene>
</section>