<section id="get-fave-coin" data-order="<%= order %>" class="<%= (typeof isCurrent !== undefined || !isCurrent) ? '': 'is-hidden' %>">
    <h1>Get Fave Coin!</h1>
    <p>Enter your email address to get coins exchangeable for prizes and more!</p>
    <img src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
    <form id="form-sign-up" action="#<%= order + 1 %>" method="get">
        <div class="formfield">
            <label for="email-address" class="is-hidden">Email address</label>
            <input name="email-address" type="email" placeholder="your email address"/>
            <button class="is-primary">Submit</button>
        </div>
    </form>
</section>