<section id="get-fave-coin" data-order="<%= order %>" class="step portrait is-raised<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>Get Fave Coin!</h1>
    <p class="details">Enter your email address to get coins exchangeable for prizes and more!</p>
    <img class="coin" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
    <%- include('../fragments/sign-up-form', { formId: "form-sign-up-coin" }); %>
</section>