<section id="get-fave-coin" data-order="<%= order %>" class="step raised<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>Get Fave Coin!</h1>
    <p class="details">Enter your email address to get coins exchangeable for prizes and more!</p>
    <img class="coin" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
    <form id="form-sign-up" action="#<%= order + 1 %>" method="get">
        <div class="formfield">
            <label for="email-address" class="is-hidden">Email address</label>
            <input class="input is-fullwidth" name="email-address" type="email" placeholder="your email address"/>
            <button class="button is-primary is-fullwidth">Submit</button>
        </div>
    </form>
</section>