<section id="have-fave-coin" data-order="<%= order %>" class="<%= (typeof isCurrent !== undefined || !isCurrent) ? '': 'is-hidden' %>">
    <h1>You Have Coin!</h1>
    <p><em>Check your email inbox to get find out how to access your Fave coins!</em></p>
    <div id="coin-pile" class="container">
        <img id="coin-0" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img id="coin-1" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img id="coin-2" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img id="coin-3" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img id="coin-4" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img id="coin-5" src="/img/fave-coin.svg" title="Fave coin!" alt="Image of fave coin"/>
    </div>
</section>