<section id="have-fave-coin" data-order="<%= order %>" class="step portrait is-raised<%= (typeof requestEmail === 'undefined') || !requestEmail ? '': ' request-email' %><%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>You Have Coin!</h1>
    <p class="details"><em>Check your email inbox to find out how to access your Fave coins!</em></p>
    <% if ((typeof requestEmail !== 'undefined') &&  requestEmail) { %>
    <%- include('../fragments/sign-up-form', { formId: "form-sign-up-coin" }); %>
    <% } %>
    <div id="coin-pile" class="container">
        <img class="coin" id="coin-0" src="/img/fave-coin_small.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img class="coin" id="coin-1" src="/img/fave-coin_small.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img class="coin" id="coin-2" src="/img/fave-coin_small.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img class="coin" id="coin-3" src="/img/fave-coin_small.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img class="coin" id="coin-4" src="/img/fave-coin_small.svg" title="Fave coin!" alt="Image of fave coin"/>
        <img class="coin" id="coin-5" src="/img/fave-coin_small.svg" title="Fave coin!" alt="Image of fave coin"/>
    </div>
</section>