<section id="play-ar" data-order="<%= order %>" class="<%= (typeof isCurrent !== undefined || !isCurrent) ? '': 'is-hidden' %>">
    <h1>Fave AR Game</h1>
    <img src="/img/fave-bottle.png" title="Your Fave drink!" alt="Image of fave bottle"/>
    <img src="/img/fave-bottle.png" title="Your Fave drink!" alt="Image of fave bottle"/>
    <img src="/img/fave-bottle.png" title="Your Fave drink!" alt="Image of fave bottle"/>
    <a class="button is-primary" href=="#<%= order + 1 %>">Play Now!</a>
</section>