<section id="share-with-friends" data-order="<%= order %>" class="step<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>Share with Friends!</h1>
    <div id="social-media-icons" class="container">
        <img class="icon" id="facebook" src="/img/icon-fb.svg" title="facebook" alt="Icon of facebook logo"/>
        <img class="icon" id="twitter" src="/img/icon-twitter.svg" title="twitter" alt="Icon of twitter logo"/>
    </div>
</section>