<section id="share-with-friends" data-order="<%= order %>" class="step portrait<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>Share with Friends!</h1>
    <img class="bottle" src="/img/fave-bottle_cropped.png"title="Your Fave drink!" alt="Image of fave bottle"/>
    <div id="social-media-icons" class="container">
        <img class="icon" id="facebook" src="/img/icon-fb.svg" title="facebook" alt="Icon of facebook logo"/>
        <img class="icon" id="twitter" src="/img/icon-twitter.svg" title="twitter" alt="Icon of twitter logo"/>
    </div>
</section>