<section id="sign-up" data-order="<%= order %>" class="step portrait<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>Sign up!</h1>
    <img class="bottle" src="/img/fave-bottle_cropped.png" title="Your Fave drink!" alt="Image of fave bottle"/>
    <%- include('../fragments/sign-up-form', { formId: "form-sign-up" }); %>
</section>