<section id="sign-up" data-order="<%= order %>">
    <h1>Sign up!</h1>
    <img src="/img/fave-bottle.png" title="Your Fave drink!" alt="Image of fave bottle"/>
    <form id="form-sign-up">
        <div >

        </div>
    </form>
</section>