<section id="social-media" data-order="<%= order %>" class="step portrait<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>Share On Your Feed</h1>
    <form id="form-sign-up" action="#<%= order + 1 %>" method="get">
        <div class="formfield">
            <label for="message" class="is-hidden">Message</label>
            <textarea name="message">Check out Fave drink promos sign-up at https://www.favedrink.co.uk/thanks</textarea>
            <button class="social-media">Submit</button>
        </div>
    </form>
</section>