<section id="thank-you" data-order="<%= order %>" class="step<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1>Thank you!</h1>
    <img class="bottle" src="/img/fave-bottle.png"title="Your Fave drink!" alt="Image of fave bottle"/>
</section>