<section id="thank-you" data-order="<%= order %>" class="step<%= (typeof isCurrent === 'undefined') || !isCurrent ? ' is-hidden': '' %>">
    <h1 class="pre-anim">Thank you!</h1>
    <img class="bottle rotated-1" src="/img/fave-bottle_cropped.png"title="Your Fave drink!" alt="Image of fave bottle"/>
</section>