<!DOCTYPE html>
<html>
  <%- include('./includes/head'); %>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          <%= title %>
        </h1>
        <p class="subtitle">
          Welcome to <strong><%= title %></strong>!
        </p>
      </div>
    </section>
    <%- include('./includes/footer-scripts'); %>
  </body>
</html>
