<!DOCTYPE html>
<html>
  <%- include('./includes/head', {
  customScripts: [
  '/js/aframe.js',
  '/js/aframe-mouse-cursor-component.js',
  '/js/aframe-ar.js'] }); %>
  <body>
  <main>
  <section class="section pad-0">
    <%- include('./includes/sunburst'); %>
    <div id="ad-steps" class="container">
      <%- include('./includes/steps/ar-game', { isCurrent: true, order: 0 }); %>
    </div>
    </section>
  </main>
<%- include('./includes/footer-scripts', {
  customScripts: [
  '/js/steps/ar-game.js',
  '/js/exp/ar.js'
  ]
  }); %>  </body>
</html>
